{
  "presets": [
    "es2015",
    "stage-1",
    "react"
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "**/*.test.js",
            "**/*.test.jsx",
            "test/**/**"
          ]
        }]
      ]
    }
  }
}
