
.select{
    $selectHighlight: lightgray;
    $selectLabelPadding: 10px;
    width: 100%;
    border: 1px solid darkgray;
    background-color: #dedede;


    &__toggle{
        width: 100%;

    }


    &__label{
        text-align: center;
        padding: $selectLabelPadding;

        &:hover{
            background-color: $selectHighlight;
        }

    }

    &__options{
        display: none;
        margin: 0;
        padding: 0;

        &--is-open{
            display: block;
        }
    }

    &__option{
        border: 1px solid gray;
        border-top: none;
        background-color: #fefefe;
        list-style: none;

        &--is-active{
            background-color: $selectHighlight;
        }
    }

    &__option-label{
        display: block;
        padding: $selectLabelPadding;
        text-decoration: none;
    }
}